.container {
  display: flex;
  gap: 16px;
  @media (max-width: 560px) {
    flex-direction: column;
  }

  .resultWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--min-width);
    text-align: center;
    box-shadow: 2px 2px 2px 2px var(--color-shadow-20);
    border-radius: 8px;
  }
  .chartWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--min-width);
    width: 100%;
  }
}
