:root {
  --color-white-100: #ffffff;
  --color-white-90: #fefefe;
  --color-white-80: #dbdbdb;

  --color-black: #000000;
  --color-black-6: #6d6d6d;
  --color-black-4: #c4c4c4;

  --color-gray: #f0f1f4;

  --color-overlay: rgba(0, 0, 0, 0.5);

  --color-blue-main: #3478f6;

  --colors-green-main: rgb(0, 200, 150);
  --colors-green-sub: rgb(98, 241, 189);
  --colors-green-bg: rgb(199, 240, 221);

  --color-sub-blue-sky: #82b0f4;

  --width-mobile: 768px;
  --width-tablet: 1024px;
  --width-desktop: 1280px;

  --z-index: 100;

  --max-width: 560px;

  --header-height: 48px;
}
