.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--color-gray);
  border-top: 2px solid var(--color-blue-main);
  animation: spin 0.5s linear infinite;
}

.componentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
