.mainWrapper {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  width: 100%;
  min-width: var(--min-width);
  max-width: var(--width-mobile);

  height: 100%;
}

.quizButton {
  width: 100%;
  margin-top: 100px;
}
